body {
  font-family: 'Biryani', sans-serif;
  color: #363636;
  background-color:#F5F5F5;
}
button.action  {
  background-color: #1CA3BA;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  float:right;
  margin: 20px 0px;
}
ul {
  list-style: none;
}

#elephant {
  padding-bottom: 30px;
  height: 50px;
  width: 50px
}

nav {
  float: left;
  width: 3%;
  background: #fff;
  height: 100vh;
}
nav img.icon {
  width: 30px;
  text-align: center;
}
nav > ul {
  padding-left: 0px;
}
.balancing {
  float: right;
  width: 93%;
  padding: 10px;
}

.main {
  margin: 20px;
  float: left;
  width: 45%;
}

.transactions {
  margin: 20px;
  float: right;
  width: 45%;
  background: #fff;
}

.welcome {
  background-image: linear-gradient(to right, #8ED1DC , #E3F4F6);
  height: 100px;
}
.welcome h3 {
  padding-top: 20px;
  margin-left: 10px;
  position: absolute;
}
.welcome .close {
  margin: 10px;
  width: 10px;
  float: right;
  position: relative;
}

.container {
  display: inline-block;
  width: 100%;
}
.card {
  padding: 10px;
  display: inline-block;
  background: #fff;
}

.container.col-3 > .card {
  width: 28%;
}
.accounts-header > h2 {
  float:left;
}
.accounts .card {
  width: 100%;
  margin-top: 10px;
}
.accounts .card > img {
  height: 50px;
  display: inline;
}
.accounts .card > h3 {
  display: inline;
  margin-left: 70px;
}

.transactions-header {
  margin: 10px;
}
.transactions-header > h2 {
  float:left;
}
.transactions table {
  width: 100%;
  border-collapse: collapse;
}
.transactions table tr {
  border-bottom: 1px solid #ddd;
}